body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-top: 60px;
  margin-bottom: 72px;
}

.text {
  font-size: 16px;
  letter-spacing: 0.02em;
}

/* HEADER */

.header-container {
  display: flex;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* NAV */

.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.link-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0;
  margin-right: 76px;
}

.studio {
  color: #2e2f42;
}
.page-nav-list {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 40px;
}

/* .page-nav-list:first-child {
  color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.page-nav-item {
  color: #2e2f42;
  /* display: flex; */
  padding: 24px 0;
  /* position: relative; */
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .page-nav-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  color: #404bbf;
  background-color: #404bbf;
} */

.current {
  position: relative;

  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: #404bbf;
  height: 4px;
  width: 100%;
}

.page-nav-item:hover,
.page-nav-item:focus {
  color: #404bbf;
}

/* CONTACTS */

.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

.contacts {
  display: flex;
}

.contacts-list {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  font-style: normal;
  gap: 40px;
  margin-left: auto;
}

.contacts-item {
  color: #434455;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HERO */

.hero {
  /* background-color: #2e2f42; */
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: auto;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  display: flex;
  max-width: 496px;
  padding-bottom: 48px;
  margin: 0 auto;
}

/* BUTTON */

.button {
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* ADVANTAGES */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  padding: 120px 0;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

/* .advantages-icon {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
} */

.advantages-icon-wprapper {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  gap: 24px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}

.advantages-sub-title {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
  margin-bottom: 8px;
}

/* .advantages-sub-title::before {
  content: "";
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
} */

.advantages-text {
  font-size: 16px;
  letter-spacing: 0.02em;
}
/* TEAM */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-wrapper {
  padding: 32px 0;
  background-color: #ffffff;

  /* border-radius: 0px 0px 4px 4px; */
}

.team-sub-title {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;

  margin-bottom: 8px;
  /* margin-left: 16px; */
}

.team-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 8px;
}

/* .team-wrapper .team-text {
  position: relative;
} */

/* .team-wrapper {
  position: relative;
} */

.team-img {
}

.icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;

  /* padding: 8px 0 32px 0; */
  /* position: absolute; */
  /* bottom: 0;
  left: 0;
  right: 0; */
}
.icon-item {
  width: 40px;
  height: 40px;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-icon {
  fill: #f4f4fd;
}

/* .parent {
  position: relative;
}

.element {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
} */

/* PORTFOLIO */

.portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  /* padding-top: 120px; */
  /* margin-bottom: 72px; */
}

.portfolio-subtitle {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.portfolio-wrapper {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  /* transition: background-color 250ms linear;
  transform: scale(1.1); */
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  padding: 40px 32px;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transform: translateY(0);
}

.portfolio-img {
}

/* FOOTER */

footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

/* .footer-wrapper {
  display: flex;
  align-items: baseline;
} */

.footer-logo-wrapper {
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 16px;
  display: inline-block;
}

.studio-f {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-soc-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soc {
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-icon-icon {
  fill: #f4f4fd;
}
